.box{
  margin-left: 5rem;
  margin-top: 2rem;
  width: 20rem;
  height: auto;
}

.search-list::-webkit-scrollbar {
  display: none;
}

.highlight{
  color: blue
}

.active:hover{
  background-color: blanchedalmond;
}

.keyboard-active{
  background-color: blanchedalmond;
}

.input-box{
  height: 3rem;
  width: 18rem
}